.box {
    position: absolute;
    text-align: center;
    background-color: #83C900;
    padding: 4%;
    border-radius: 15px; 
  }

  body {
    font-size: 16px;
  }
  
  body, html {
    height: 100%;
  }
   
  .navbar{
    position: fixed;
    top: 0;
    z-index: 1000; 
    margin-top: 0;
    width: 100%;
  }

  .logo{
    width: 230px;
    height:100px;
  
  }

  .domba{
    margin-top: 5px;
    border-radius: 10px;
    width: 100%;
    height: 350px; 
  }

  .line-under-text {
    display: inline-block;
    position: relative;
    margin-bottom: 10px; 
  }
  
  .line-under-text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color:#83C900;
  }
  .pembayaran1{
    color: #83C900;
    text-decoration:none;
    font-size: 23px;
  }

  .pembayaran2{
    color: #83C900;
    text-decoration:none;
    font-size: 23px;
  }

  .pembayaran3{
    color: #83C900;
    text-decoration:none;
    font-size: 23px;
  }

  .foter {
    margin-top: 10%;
  }
  
  .contact {
    margin-top: 5%;
  }
  
  .media-sosial {
    margin-top:7%;
}